@font-face {
  font-family: 'Mrs Sheppards';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mrssheppards/v25/PN_2Rfm9snC0XUGoEZhb91ig7vH7y0Mi.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, black, #162447); 
  color: white;
  margin: 0;
  padding: 0;
  height: 150vh; 
    font-family: 'Mrs Sheppards', cursive;
}

.secret {
  color: white;
  text-decoration: none;
}

.header {
  font-family: 'Mrs Sheppards', cursive;
  width: 60%;
  margin: 40px auto 20px auto;
  padding: 15px 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: #23487d; 
  color: white; 
}
p {  font-family: 'Mrs Sheppards', cursive;}
