.secret {
  color: black; /* Or whatever color you need */
  text-decoration: none;
}

.header {

      background-color: lightgreen; /* Must be a square */
      border-radius: 20%; /* Makes it a perfect circle */
}
